<div class="container-fluid">
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th>Post ID</th>
        <th>Topic Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of _topics | async">
        <td> {{ item.topicID }} </td>
        <td> {{ item.topic }} </td>
        <td> {{ item.description }} </td>
        <td>
          <button class="btn btn-primary" (click)="addComment(item)">Comment Here</button>
          <button class="btn btn-danger" (click)="deletePost(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

